footer{
    background-color: var(--secondary-color);
    color: white;
    font-weight: bold;
    text-align: center;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
}